
@{
    ViewBag.Title = "Login";
}
<div class="loginContainer">
    <div>
        <label for="name">Имя:</label>
        <input name="name" />
    </div>
    <div>
        <label for="password">Пароль:</label>
        <input type="password" name="password" />
    </div>
    <button type="submit">Войти</button>
</div>

