
@{
    ViewBag.Title = "PageAuction";
}

<h2>Привет, Вы попали на страницу Аукциона, делайте свои ставки</h2>
<ul class="lots">
    <li class="list-item">
        <img class="img" src="~/img/berghoff_1104126_images_1491559128.jpg " alt="Lot1" />
        <p>Стартовая цена: <strong>100 грн</strong></p>
        <p>Поднять на: <input class="input-group" type="text" name="stavka" placeholder="Минимальная ставка: 20"/></p>
        <button class="button">Сделать ставку</button>
        <button class="button">Купить сейчас</button>
        
        
    </li>
    <li class="list-item">
        <img class="img" src=" " alt="Lot2" />
        <p>Стартовая цена: <strong>100 грн</strong></p>
        <p>Поднять на: <input class="input-group" type="text" name="stavka" placeholder="Минимальная ставка: 20" /></p>
        <button class="button">Сделать ставку</button>
        <button class="button">Купить сейчас</button>
    </li>
    <li class="list-item">
        <img class="img" src=" " alt="Lot3" />
        <p>Стартовая цена: <strong>100 грн</strong></p>
        <p>Поднять на: <input class="input-group" type="text" name="stavka" placeholder="Минимальная ставка: 20" /></p>
        <button class="button">Сделать ставку</button>
        <button class="button">Купить сейчас</button>
    </li>
    <li class="list-item">
        <img class="img" src=" " alt="Lot4" />
        <p>Стартовая цена: <strong>100 грн</strong></p>
        <p>Поднять на: <input class="input-group" type="text" name="stavka" placeholder="Минимальная ставка: 20" /></p>
        <button class="button">Сделать ставку</button>
        <button class="button">Купить сейчас</button>
    </li>
    <li class="list-item">
        <img class="img" src=" " alt="Lot5" />
        <p>Стартовая цена: <strong>100 грн</strong></p>
        <p>Поднять на: <input class="input-group" type="text" name="stavka" placeholder="Минимальная ставка: 20" /></p>
        <button class="button">Сделать ставку</button>
        <button class="button">Купить сейчас</button>
    </li>
    <li class="list-item">
        <img class="img" src=" " alt="Lot6" />
        <p>Стартовая цена: <strong>100 грн</strong></p>
        <p>Поднять на: <input class="input-group" type="text" name="stavka" placeholder="Минимальная ставка: 20" /></p>
        <button class="button">Сделать ставку</button>
        <button class="button">Купить сейчас</button>
    </li>
</ul>
<style>
    h2{
        text-align:center;
    }
    .list-item{
        display:inline-block;
        margin:50px;
    }
    .button{

    }
    .input-group{
        
    }
    

</style>

