@{
    ViewBag.Title = "About";
    int i = 9;
    List<string> fruit = new List<string> { "apple", "pineapple", "pear" };
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p>@i++</p>

@foreach (string f in fruit)
{
    <p>@f</p>

}